<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsf.xmchqq.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"  />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"  />
    <uses-permission android:name="android.permission.GET_TASKS"  />

    <application
        android:name="com.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="吃货圈圈"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.msc.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <service android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <activity android:name="com.common.FinishActivity" android:screenOrientation="portrait" android:launchMode="singleTask" android:exported="true"/>

        <activity android:name="com.msc.activity.MainActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.PaiDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.PaiUpLoad" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.PaiuploadChooseType" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.RecipeListCommentActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.LoginActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.RecipeDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.UploadRecipeCreate" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.RecommentUserListActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.msc.activity.SearchActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>

    </application>

</manifest>